body {
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

button {
    padding: 10px;
    font-size: large;
}

.contents {
    display: flex;
    flex-direction: row;
}

.result {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: xx-large;
    font-weight: 100;
}